/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets"; 
 @import "bootstrap"; 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .notice {
  color: #000;
 }

.alert {
  color: #000;
 }

 header h4 {
   color: white;
 }

 header span {
   color: #9d9d9d;
 }

 .nav {
   padding-left: 0;
   list-style: none;
 }

 .navbar-nav>li>span {
   line-height: 20px;
 }

 .nav>li>span {
   position: relative;
   display: block;
   padding: 10px 15px;
 }

 .span {
   text-decoration: none;
 }

 .ul {
   font-size: 13px;
   line-height: 18px;
 }

 .navbar-inverse {
   color: #9d9d9d
 }

 .navbar-nav>li>span {
   color: #9d9d9d;
 }

 .ul>li>span {
   color: #9d9d9d
 }